<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 通过这个配置文件完成mybatis与数据库的连接 -->
<configuration>

	<!-- 引入 database.properties 文件-->
	<properties resource="database.properties"/>

	<!-- 配置mybatis的log实现为LOG4J -->
	<settings>
<!--		开启二级缓存,默认值是true-->
<!--			<setting name="cacheEnabled" value="true"/>-->

<!--		<setting name="logImpl" value="LOG4J" />-->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<!--		NONE 禁止自动匹配 ,只匹配resultMap里定义好的属性,其余的输出null-->
<!--		collection 和association 的另一作用跟<setting name="autoMappingBehavior" value="NONE"/>一样,只查询resultMap里匹配的,没事先匹配好的就输出null-->
<!--		<setting name="autoMappingBehavior" value="NONE"/>-->
<!--		全部显示,就算有collection和association属性,也会把resultMap里没有匹配的输出来-->
		<setting name="autoMappingBehavior" value="FULL"/>
	</settings>

<!--	起别名-->
	<typeAliases>
<!--		  直接定义到对象然后取个别名，别名是user-->
<!--		<typeAlias type="cn.User" alias="user"/>-->
<!--		包下的对象名就是别名-->
		    <package name="cn.smbms.entity" />
	</typeAliases>


	<environments default="development">
		<environment id="development">
			<!--配置事务管理，采用JDBC的事务管理  -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- POOLED:mybatis自带的数据源，JNDI:基于tomcat的数据源 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>

<!--	写死，不需要导入文件-->
<!--	<properties resource="database.properties">-->
<!--		<property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--		<property name="url" value="jdbc:mysql://127.0.0.1:3306/smbms"/>-->
<!--		<property name="user" value="root"/>-->
<!--		<property name="password" value="root"/>-->
<!--	</properties>-->
	
	<!-- 将mapper文件加入到配置文件中 -->
	<mappers>
		<mapper resource="cn/smbms/dao/Provider/ProviderMapper.xml"/>
		<mapper resource="cn/smbms/dao/User/UserMapper.xml"/>
		<mapper resource="cn/smbms/dao/bill/billMapper.xml"/>
		<mapper resource="cn/smbms/dao/address/addressMapper.xml"/>
<!--		<package name="cn.smbms.dao"/>-->
	</mappers>


</configuration>
